body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 2em;
}


h1, h2 {
    text-align: center;
}

#comment {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#submitComment {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submitComment:hover {
    background-color: #0056b3;
}

#movieDetails {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e9f9ff;
    box-shadow: 0 0 5px #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.movie-info {
    display: flex;
}

.movie-info img {
    max-width: 200px;
    margin-right: 20px;
    border-radius: 0.3em;
}

.movie-info p {
    text-align: justify;
    line-height: 1.5rem;
}

.movie-details {
    flex: 1;
}

textarea {
    width: 100%;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    color: white;
}

#backLink {
    margin-top: 2em;
    display: block;
    margin-bottom: 20px;
    color: blue;
    text-decoration: none;
}

#backLink:hover {
    text-decoration: underline;
}

#comment {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}

#submitComment {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submitComment:hover {
    background-color: #45a049;
}

#comment:focus {
    border-color: #007bff; 
    outline: none;
}