:root {
    --cor-fundo: #0261af;
    --cor-letra-back-footer: #fff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--cor-fundo);
    color: var(--cor-letra-back-footer);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: var(--cor-letra-back-footer);
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

section h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

footer {
    background-color: var(--cor-fundo);
    color: var(--cor-letra-back-footer);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Adicionando estilos para o formulÃ¡rio de login */

#login {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

#login h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

#loginBtn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#loginBtn:hover {
    background-color: #555;
}


.trailer-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    transition: background-color 0.3s;
}

.trailer-button:hover {
    background-color: #0056b3;
}


.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.movie-item {
    text-align: center;
}

.movie-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
