:root {
    --cor-fundo: #0261af;
    --cor-letra-back-footer: #fff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


header {
    background-color: var(--cor-fundo);
    color: var(--cor-letra-back-footer);
    padding: 10px;
    text-align: center;
    width: 100%;
}

.header-area {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Estilo para o campo de pesquisa */
.search-container {
    float: right;
}

.search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 17px;
    transition: box-shadow 0.3s;
}

.search-container input[type=text]:focus {
    outline: none;
    box-shadow: 0 0 5px var(--cor-fundo);
}

.search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: var(--cor-letra-back-footer);
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

section h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

footer {
    background-color: var(--cor-fundo);
    color: var(--cor-letra-back-footer);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.trailer-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    transition: background-color 0.3s;
}

.trailer-button:hover {
    background-color: #0056b3;
}


.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.movie-item {
    text-align: center;
}

.movie-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
